{% extends "base.html" %}
{% block content %}

{% load humanize %}
{% load tags %}

<div>
  <h4>
  <a class="title" href="{% url 'full_review' review_id=review.id %}">
    <em>{% if review.name %}{{review.name}}{%else%}no title{%endif%}</em>
  </a>
  </h4>
  <p>
    {{review.url|nice_urlize:60}}
    <br>
    Created by
    <a href="/profiles/{{review.user.id}}">@{{review.user.username}}</a>
    {{review.time|naturaltime }}
  </p>
  <div>Rating: {{review.rating}}</div>
  <div title="Rating {{review.rating}}">
    <i class="material-icons tiny" style="word-spacing: -5px">{{review.rating|star_string}}</i>
  </div>

  <p>
    {{review.text}}
  </p>

  {% if review.reaction_data.explicit %}
  Liked by
  {% for reaction in review.reaction_data.explicit %}
    <a href="/profiles/{{reaction.user_id}}">@{{reaction.username}}</a>
    {% if not forloop.last %}, {% endif %}
  {% endfor %}
  <br>
  {% endif %}

  <div>
    <form class="EXM-like-form {% if review.me.reaction_type %}liked{% endif %}"
          method="POST"
          action="{% url 'react_to_review' review_id=review.id %}?full=1">
      {% csrf_token %}
      <button type="submit" class="btn-flat waves-effect waves-light hvr-gray">Like</button>
    </form>

    {% if review.user.id == me.id %}
      <span>
        <a href="{% url 'manage_review' review_id=review.id %}" class="btn-flat hvr-gray">Edit</a>
      </span>
    {% endif %}
  </div>

  <div>
  <hr>
  {% for comment in review.comments.explicit %}
    <div class="EXM-comment-container">
      <div class="EXM-comment-text">
        <div>
          <a href="/profiles/{{comment.user_id}}">{{comment.username}}</a>
          &nbsp;{{comment.text}}
        </div>

        {% if comment.user_id == me.id %}
        <form method="POST"
              action="{% url 'delete_comment' review_id=review.id comment_id=comment.id %}"
              class="EXM-comment-delete-button">
          {% csrf_token %}
          <button type="submit" class="btn-flat waves-effect waves-light hvr-gray">
            🗑️
          </button>
        </form>
        {% endif %}
      </div>
      <div class="EXM-comment-footer">
        <span>
          {{comment.created_at|parse_isotime|naturaltime }}
        </span>
      </div>
    </div>
  {% empty %}
    <div class="EXM-comment-container">
    </div>
  {% endfor %}
  </div>

  <div>
    <form method="POST"
          autocomplete="off"
          action="{% url 'comment_on_review' review_id=review.id %}">
      {% csrf_token %}
      <input class="EXM-comment-input" type="text"
             placeholder="Write a comment..." name="text">
      </input>
    </form>
  </div>
</div>

{% endblock %}
