{% extends "base.html" %}
{% block content %}
<h3>{% if review_id %}Edit Review{% else %}Create a new review{% endif %}</h3>

<form class="EXM-review-form EXM-override" method="POST">
  {% csrf_token %}
  <div class="EXM-review-form__container">
    <input value="{{review.url}}" type="url" name="url" required id="id_url">
    <label for="id_url">URL of the thing you&#39;re reviewing:</label>
  </div>

  <div class="EXM-review-form__container">
    <input value="{{review.name}}" type="text" name="name" id="id_name">
    <label for="id_name">Optional Name of the thing you&#39;re reviewing:</label>
  </div>

  <div style="display: flex">
    <div class="EXM-review-item__image" style="padding-top: 2.5em; margin: unset">
      <img src="{{review.image_url}}"></img>
    </div>
    <div class="EXM-review-form__container" style="flex: 1; padding-left: 0.5em;">
      <input value="{%firstof review.image_url ''%}"
             type="url" name="image_url" id="id_image_url">
      <label for="id_image_url">Image URL for the thing you&#39;re reviewing:</label>
    </div>
  </div>

  <div class="EXM-review-form__container">
    <div class="EXM-ratings-ticks">
      <p>0.0</p><p>0.5</p><p>1.0</p><p>1.5</p><p>2.0</p><p>2.5</p>
      <p>3.0</p><p>3.5</p><p>4.0</p><p>4.5</p><p>5.0</p>
    </div>
    <input
      value="{{review.rating}}"
      {% if review.rating is None %}disabled{% endif %}
      class="EXM-ratings-slider"
      type="range" name="rating"
      step="0.5" min="0" max="5" id="id_rating"
      >
    <div class="EXM-review-form__no-rating__container">
      <input
        class="EXM-ratings-slider"
        type="checkbox"
        {% if review.rating is None %}checked{% endif %}
        name="no_rating"
        id="id_has_rating"
        style="opacity: unset; pointer-events: unset; position: unset"
        onchange="this.form.rating.disabled=this.checked"
        >
      <label for="id_has_rating" style="position: unset">No Rating</label>
    </div>
    <label for="id_rating">Overall Rating. How interesting was it?</label>
  </div>

  <div class="EXM-review-form__container">
    <textarea name="text" cols="40" rows="10" id="id_text">{{review.text}}</textarea>
    <label for="id_text">Optional summary or thoughts:</label>
  </div>

  <button
    class="btn waves-effect waves-light"
    type="submit"
    name="action"
    value="submit"
    >
    {% if review_id %}Save{% else %}Submit{% endif %}
  </button>

  {% if review_id %}
  <button
    class="btn waves-effect waves-light"
    type="submit"
    name="action"
    value="autofill"
    title="Automatically fill blank fields using site content"
    >
    Autofill
  </button>

  <button
    class="btn waves-effect waves-light"
    type="submit"
    name="action"
    value="delete"
    title="Permanently remove this review"
    >
    Delete
  </button>
  {% endif %}
</form>

{% endblock %}
