{% extends "base.html" %}
{% block content %}

{% load tags %}

<div class="collection with-header">
<div class="collection-header EXM-title-right-button">
  <h3>@{{profile_user.username}}'s Reviews</h3>
  {% if me.id == profile_user.id %}
    <a
      href="{% url 'new_review' %}"
      class="btn-floating btn-large waves-effect waves-light red">
      <i class="large material-icons">add</i>
    </a>
  {% endif %}
</div>
{% for review in reviews %}
  {% include "review_item.html" with me=me review=review %}
{% empty %}
  <div class="collection-item"><h5>No reviews yet!</h5></div>
{% endfor %}

<div class="EXM-next-back-footer">
{% if pagination.offset > 0 %}
  <a href="?offset={{pagination.offset|sub:pagination.limit}}&limit={{pagination.limit}}">
    &#12296; Back
  </a>
{% else %}
<span>&nbsp;</span>
{% endif %}

{% if reviews|length >= pagination.limit %}
  <a href="?offset={{pagination.offset|add:pagination.limit}}&limit={{pagination.limit}}">
    Next &#8250;
  </a>
{% else %}
<span>&nbsp;</span>
{% endif %}
</div>

</div>

{% endblock %}
