{% extends "base.html" %}
{% block content %}

{% load tags %}

<div class="EXM-title-right-button">
  <h3>@{{profile_user.username}}</h3>
  {% if me.id == profile_user.id %}
    <a
      href="{% url 'new_review' %}"
      class="btn-floating btn-large waves-effect waves-light red">
      <i class="large material-icons">add</i>
    </a>
  {% endif %}
</div>

{% if stats.host_breakdown|length %}
<h4>Top Sites</h4>

<div style="width: 100%; overflow-x: auto">
<table class="striped" >
  <thead>
    <tr>
      <th>Site</th>
      <th>Reviews</th>
      <th>Avg Rating</th>
    </tr>
  </thead>

  <tbody>
    {% for host_stats in stats.host_breakdown|slice:":5" %}
      <tr>
        <td><a href="https://{{host_stats.host}}">{{host_stats.host}}</a></td>
        <td>{{host_stats.num_reviews}}</td>
        <td>{{host_stats.avg_rating|floatformat:2}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<br>
{% endif %}


{% if stats.top_reviews|length %}
<div class="collection with-header">
<div class="collection-header">
  <h3>Top Reviews</h3>
</div>
{% for review in stats.top_reviews %}
  {% include "review_item.html" with me=me review=review %}
{% endfor %}
</div>
{% endif %}


<div class="collection with-header">
<div class="collection-header EXM-title-right-button">
  <h3>All Reviews</h3>
</div>
{% for review in reviews %}
  {% include "review_item.html" with me=me review=review %}
{% empty %}
  <div class="collection-item"><h5>No reviews yet!</h5></div>
{% endfor %}

<div class="EXM-next-back-footer">
{% if pagination.offset > 0 %}
  <a href="?offset={{pagination.offset|sub:pagination.limit}}&limit={{pagination.limit}}">
    &#12296; Back
  </a>
{% else %}
<span>&nbsp;</span>
{% endif %}

{% if reviews|length >= pagination.limit %}
  <a href="?offset={{pagination.offset|add:pagination.limit}}&limit={{pagination.limit}}">
    Next &#8250;
  </a>
{% else %}
<span>&nbsp;</span>
{% endif %}
</div>

</div>

{% endblock %}
