{% load humanize %}
{% load tags %}

<div class="collection-item EXM-review-item">
  <div class="EXM-review-item__left">
    <div class="EXM-review-item__image">
      {% if review.image_url %}
        <img width="54" height="54" src="{{review.image_url}}"
             alt="thumbnail image for review of {{review.name}}"></img>
      {% else %}
        <i class="material-icons green">library_books</i>
      {% endif %}
      </div>
    <div title="Rating {{review.rating}}">
      {% if review.rating == None %}
        <i class="material-icons tiny"
           style="letter-spacing: -0.2em; visibility: hidden">{{0|star_string}}</i>
      {% else %}
        <i class="material-icons tiny"
           style="letter-spacing: -0.2em">{{review.rating|star_string}}</i>
      {% endif %}
    </div>
  </div>
  <div class="EXM-review-item__right">
    <h6><em>
      {% if review.name %}{{review.name}}{%else%}no title{%endif%}
    </em></h6>
    {{review.url|nice_urlize:60}}
    <a href="/profiles/{{review.user.id}}">@{{review.user.username}}</a>
    {{ review.time|naturaltime }}
    <hr>

    {% if review.reaction_data.explicit %}
    Liked by
    {% for reaction in review.reaction_data.explicit %}
      <a href="/profiles/{{reaction.user_id}}">@{{reaction.username}}</a>
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <br>
    {% endif %}

    {% if review.comments.explicit %}
    {{ review.comments.explicit|length }} comment{{ review.comments.explicit|length|pluralize }}
    <br>
    {% endif %}

    <form class="EXM-like-form {% if review.me.reaction_type %}liked{% endif %}"
          method="POST"
          action="{% url 'react_to_review' review_id=review.id %}">
      {% csrf_token %}
      {% if review.me.reaction_type %}
        <button type="submit" class="btn-flat waves-effect waves-light hvr-gray">Unlike</button>
      {% else %}
        <button type="submit" class="btn-flat waves-effect waves-light hvr-gray">Like</button>
      {% endif %}
    </form>
    <a class="btn-flat hvr-gray" href="{% url 'full_review' review_id=review.id %}">See More...</a>
    {% if review.user.id == me.id %}
      &nbsp;&nbsp;<a class="btn-flat hvr-gray" href="{% url 'manage_review' review_id=review.id %}">Edit</a>
    {% endif %}
  </div>
</div>
