{% load humanize %}
{% load tags %}

<div class="collection-item EXM-review-item">
  <div class="EXM-review-item__left">
    <div class="EXM-review-item__image">
      {% if review.image_url %}
        <img src="{{review.image_url}}"></img>
      {% else %}
        <i class="material-icons green">library_books</i>
      {% endif %}
      </div>
    <div title="Rating {{review.rating}}">
      <i class="material-icons tiny" style="word-spacing: -5px">{{review.rating|star_string}}</i>
    </div>
  </div>
  <div class="EXM-review-item__right">
    <h6><em>{% if review.name %}{{review.name}}{%else%}no
        title{%endif%}</em></h6>
    {{review.url|nice_urlize:60}}
    <br>
    Created by
    <a href="/profiles/{{review.user.id}}">@{{review.user.username}}</a>
    {{ review.time|naturaltime }}
    <br>
    <a class="title" href="{% url 'full_review' review_id=review.id %}">See More...</a>
    {% if review.user.id == me.id %}
      &nbsp;&nbsp;<a href="{% url 'manage_review' review_id=review.id %}">Edit</a>
    {% endif %}
  </div>
</div>
